<section class="bg-not-found">
  <div class="container">
      <div class="row justify-content-center">
        <a routerLink="/">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          <span style="padding-left: 10px;">De volta à página principal</span>
        </a>
      </div>
      <div class="body text-center">
        <h1 class="title">
            <i class="fa fa-map-signs" aria-hidden="true"></i> <strong>404</strong>
        </h1><br>
        <h4 class="subtitle">
          Não encontramos o que você procura. 
        </h4>
      </div>
      <div class="footer row justify-content-center">
        <a routerLink="/">Smille.com</a>
      </div>
  </div>
</section>