<section class="bg-not-found">
  <div class="container">
    <div class="body text-center">
      <h1 class="title">
          <i class="fa fa-map-signs" aria-hidden="true"></i> <strong>404</strong>
      </h1><br>
      <h4 class="subtitle">
        Não foi possível encontrar a página que você estava procurando.
        Enquanto isso, você pode <a routerLink="/admin">voltar para o painel.</a>
      </h4>
    </div>
    <div class="footer row justify-content-center">
        <a routerLink="/admin">Smille.com</a>
    </div>
  </div>
</section>